* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Perpetua;
}
.sign {
  width: 30%;
  margin: 100px auto;
  background-color: aqua;
}
.music {
  width: 100%;
  height: 180px;
}
h1 {
  text-align: center;
  margin-top: 30px;
}
.something {
  width: 80%;
  margin: 15px auto;
}
.something p {
  text-align: center;
  font-size: 21px;
}
