* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  position: relative;
}

ul {
  list-style: none;
  display: flex;
  grid-gap: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  background: rgba(0, 0, 2, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  position: relative;
  font-size: 20px;
}

.menu a::before {
  content: " ";
  position: absolute;
  width: 0;
  bottom: -6px;
  left: 0;
  height: 2px;
  background-color: hotpink;
  visibility: hidden;
  transition: all 0.2s ease-out;
}

.menu a:hover:before {
  visibility: visible;
  width: 100%;
}

.menu a:hover {
  color: #04aa6d;
}

.menu ul > li {
  position: relative;
}

ul.menuc2 {
  position: absolute;
  width: 200px;
  min-height: 100px;
  display: none;
  background-color: #ccc;
}

ul.menuc2 li a {
  display: block;
  line-height: 40px;
  text-indent: 20px;
  border-top: 1px solid #ccc;
}

.menu ul > li:hover ul.menuc2 {
  display: block;
}

.phone button {
  padding: 15px 30px;
  color: black;
  font-weight: bold;
  background-color: #04aa6d;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 10rem;
  font-size: 20px;
}

.phone button:hover {
  background-color: rgb(1, 6, 10);
  color: #fff;
}

.aboutCorona {
  width: 80%;
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.stay {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 50px;
}
.stay h1 {
  font-size: 60px;
  margin-bottom: 45px;
}

.stay p {
  font-size: 20px;
  margin-bottom: 60px;
  letter-spacing: 0.1px;
}
.btn {
  margin-top: 20px;
}

.btn button {
  padding: 15px 30px;
  color: black;
  font-weight: bold;
  background-color: #04aa6d;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn button:hover {
  background-color: rgb(1, 6, 10);
  color: #fff;
}
.parameter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 100px 0;
}

.box {
  height: 180px;
  width: 250px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 85, 150);
}
.box .number {
  color: rgb(42, 199, 113);
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}
.box p {
  color: #fff;
  font-size: 20px;
}

.about {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.aboutCovid {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 50px;
}

.aboutCovid p {
  font-size: 20px;
  margin-bottom: 60px;
  letter-spacing: 0.1px;
}

.aboutCovid h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.btn-head button {
  padding: 8px 25px;
  color: #04aa6d;
  border-radius: 20px;
  border: none;
  background-color: rgb(73, 70, 70);
  margin-bottom: 20px;
}

.symptoms {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.covidSS {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 50px;
}

.covidSS h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.covidSS p {
  font-size: 20px;
  margin-bottom: 40px;
  letter-spacing: 0.1px;
}

.covidSS ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0.5rem 0;
}

.covidSS li {
  width: 45%;
  font-size: 1.6rem;
  display: inline-block;
  margin: 0.5rem 0;
}
.covidSS i {
  padding-right: 1rem;
}
