* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #4b4c4e;
  background-size: cover;
  color: #f2f2f2;
  padding: 50px 0px 150px 0px;
}
.width {
  width: 90%;
  margin-left: 5%;
  align-content: center;
}
.font {
  font-size: 150%;
  font-family: Comic Sans MS;
}
.december {
  color: #d93b3b;
  font-weight: bold;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
}
.column1 {
  width: 15%;
  padding-right: 15px;
}

.column2 {
  width: 35%;
  padding: 0px 15px 0px 15px;
  border-left: white solid;
}

.column2 img {
  width: 100%;
}

.column3 {
  width: 15%;
  padding: 0px 15px 0px 15px;
  border-left: white solid;
}

.footer {
  display: none;
}
@media screen and (max-width: 1024px) {
  .main {
    background-color: #4b4c4e;
    color: black;
  }
  .content {
    flex-wrap: wrap;
  }
  .column1 {
    margin-top: 20px;
    width: 35%;
  }
  .column2 {
    margin-top: 20px;
    width: 65%;
    border-left: rgb(0, 0, 0) solid;
  }
  .column3 {
    margin-top: 20px;
    width: 40%;
    border-left: none;
  }
  .footer {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .main {
    background-color: #4b4c4e;
    color: blanchedalmond;
  }
  .content {
    flex-wrap: wrap;
  }
  .column1 {
    margin-top: 20px;
    width: 100%;
  }
  .column2 {
    margin-top: 20px;
    width: 100%;
    border-left: none;
  }
  .column3 {
    margin-top: 20px;
    width: 100%;
    border-left: none;
  }
  .footer {
    display: block;
  }
}
