* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 80%;
  margin: 50px auto;
  background-color: aquamarine;
}
.header {
  margin: 10px 50px;
  background-color: bisque;
}
.wedo {
  display: flex;
}
.wedo p {
  margin-left: 7px;
}
