* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
}
.box {
  width: 80%;
  margin: 50px auto;
  background-color: #fdfdfd;
}
.box,
.header {
  margin-top: 15px;
}
.header {
  width: 80%;
  height: 80px;
  background-color: rgb(156, 156, 231);
  display: flex;
  justify-content: space-around;
}
.wedo {
  display: flex;
}
.wedo p {
  margin-left: 7px;
}
.menu {
  display: flex;
}
